.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 15vw;
}

.Login {
  position: fixed;
  padding: 1.5em;
  margin-left: -15vw;
}

.SideMenu {
  position: fixed;
  height: 100vh;
  width: 20em;
  padding-top: 10vh;
  z-index: 1;
  box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.3);
  background-color: #3e4452;
}

.Settings {
  position: absolute;
  bottom: 8em;
  margin-left: 1em;
}

.Header {
  position: fixed;
  height: 6vh;
  width: 100vw;
  padding-left: 4em;
  z-index: 2;
  box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 0, 0);
}

.Brand {
  position: absolute;
  margin: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(206, 206, 206);
}

.Logout {
  position: absolute;
  margin-left: 89vw;
  margin-top: 0.4em;
}

.Content {
  position: absolute;
  width: 85vw;
  height: 94vh;
  margin-top: 6vh;
}

.Search-Field {
  position: absolute;
  left: 14em;
  top: 4em;
}

.Modal {
  min-width: 30vw;
  max-width: 60vw;
  text-align: center;
  padding: 2em;
}

.ActionButton {
  position: absolute;
  left: 14em;
  bottom: 1em;
  text-align: center;
  border-radius: 25%;
}

#trafficchartdiv, #statchartdiv {
  font-size: 1.5rem;
  overflow: hidden;
  position: relative;
}

#statchartdiv {
  min-height: 18em;
}

.map-marker {
  /* adjusting for the marker dimensions
  so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
  box-sizing: border-box;
}
.map-marker.map-clickable {
  cursor: pointer;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
  box-sizing: border-box;
}

.map-marker .dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
  box-sizing: border-box;
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}
